@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/



:root{

  --hue-color:250;
  --first-color: hsl(var(--hue-color), 69%, 61%); 
  --first-color-second: hsl(var(--hue-color), 69%, 61%); 
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);  
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%); 
  --title-color: hsl(var(--hue-color), 69%, 61%); 
  --text-color:  hsl(var(--hue-color), 8%, 45%); 
  --text-color-light :  hsl(var(--hue-color), 8%, 65%); 
  --input-color :  hsl(var(--hue-color), 70%, 96%); 
  --body-color:  hsl(var(--hue-color), 60%, 99%); 
  --container-color: #fff;



}

/*===== Fuente y tipografia =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;

  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;

  --normal-font-size: .938rem;

  --small-font-size: 813rem;
  --smaller-font-size:.75rem;


  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-0-25: .25rem;

  --mb-0-5: .5rem;

  --mb-0-75: .75em;

  --mb-1: 1rem;

  --mb-1-5: 1.5rem;

  --mb-2: 2rem;

  --mb-2-5: 2.5rem;

  --mb-3: 3rem;


  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 100;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);

}
h1,h2,h3,h4{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
ul{
 
  list-style: none;
 } 
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  
}


/*===== CLASS CSS ===== */

.section{
  padding: 2rem 0 4rem;
}
.section-title{
  font-size: var(--h1-font-size);

}

.section__subtitle{
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, .section__subtitle{
  text-align: center;
}
/* .section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
} */
/* .section{
  padding-top: 3rem;
  padding-bottom: 2rem;
} */

/*===== LAYOUT =====*/

.container{
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid{
  display: grid;
  gap: 1.5rem;
}

.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color:black;
    transition: .5s;
  }
}
.nav__item{
  margin-bottom: var(--mb-4);
}
.nav__link{
  position: relative;
  color: #fff;
  
}
.nav__link:hover{
  position: relative;
}





.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
  transition: ease all 10s;
  
}
.nav__logo{
  color: var(--second-color);
}
.nav__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
  transition: .3s all ease;

}

/*=== Show menu ===*/
.show{
  right: 0;
}

/*===== HOME =====*/





/*BUTTONS*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;

  font-weight: var(--font-medium);
  border-radius: .5rem;
}
.button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}



/* ===== CONTACT =====*/


/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--second-color);
  }

}

  

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  
}



/* ------------------ends here -------------- */
    

/* main starts here ------------------ */

.home__container{
  gap: 1rem
  ;
}

.home__content{
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;

}

.home-social{
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;

}

.home__social-icon{
  font-size: 1.25rem;
  color: var(--first-color);

}

.home__social-icon:hover{
  color: black;
}

.home__blob{
  width: 200px;
  fill: var(--first-color);
  

}

.home__blob-img{
  width: 170px;
}

.home__data{
  grid-column:1/3 ;
}

.home__title{
  font-size: var(--big-font-size);
}

.home__subtitle{
  font-size: h3 var(--h3-font-size);
  color: var(--text-color);
  font-weight: var--(font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description{
  margin-bottom: var(--mb-2);
}


.home__scroll{

}

.home__scroll-button{
  color: var(--first-color);
  transition: .3s;
}

.home__scroll-button:hover{
  transform: translateY(.25rem);
}

.home__scroll-mouse{
  font-size: 2rem;

}

.home__scroll-name{
  font-size: var(--smaller-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow{
  font-size: 1.25rem;
}






































































































































































































































































